name: Validate Android

on:
  push:
    branches:
      - main
    paths:
      - 'packages/**/android/**'
      - 'packages/**/cpp/**'
      - 'example/android/**'
  pull_request:
    paths:
      - 'packages/**/android/**'
      - 'packages/**/cpp/**'
      - 'example/android/**'

jobs:
  build:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      
      - uses: oven-sh/setup-bun@v1
      
      - name: Install dependencies
        run: bun install

      - name: Build Android
        run: |
          cd example/android
          ./gradlew assembleDebug
