name: Validate JS

on:
  push:
    branches:
      - main
    paths:
      - 'packages/**'
      - 'example/**'
      - 'package.json'
      - 'bun.lock'
  pull_request:
    paths:
      - 'packages/**'
      - 'example/**'
      - 'package.json'
      - 'bun.lock'

jobs:
  lint:
    name: Lint & Typecheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      
      - name: Install dependencies
        run: bun install

      - name: Lint
        run: bun lint

      - name: Typecheck
        run: bun tsc

      - name: Format Check
        run: bun format
